.extensionTitle {
  margin: 1rem 0;
  width: 100%;
  font-size: x-large;
  text-align: center;
}

table,
th,
td {
  border-collapse: collapse;
  text-align: left;
}

table {
  width: 100%;
  margin: 1rem 0;
}

tr > th:last-child,
tr > td:last-child {
  width: 1px;
  white-space: nowrap;
}

table input {
  width: 20px;
  height: 20px;
}

tr.all > td,
tr.domain > td {
  padding-top: 0.5rem;
  font-weight: bold;
  font-size: medium;
}

.domainName,
.name {
  white-space: nowrap;
}
