.extensionTitle {
  margin: 1rem 0;
  width: 100%;
  font-size: x-large;
  text-align: center;
}

table,
th,
td {
  border-collapse: collapse;
  text-align: center;
  vertical-align: middle;
}

table {
  width: 100%;
  margin: 1rem 0;
}

tr > th,
tr > td {
  width: 1px;
  white-space: nowrap;
}

table input {
  width: 20px;
  height: 20px;
}

tr.all > td,
tr.domain > td {
  font-weight: bold;
  font-size: medium;
}

td.text {
  white-space: nowrap;
  text-align: left;
}

.collapsable {
  background: url(../images/triangle-fill.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 8px;
  height: 8px;
  border: 0;
  transform: rotate(90deg); /* closed by default */
}

.collapsable.open {
  transform: rotate(180deg);
}

.hidden {
  display: none;
}

button:hover,
input:hover {
  filter: invert(36%) sepia(92%) saturate(2275%) hue-rotate(204deg) brightness(99%) contrast(99%); /* #267cfc */
}

.cookieImg {
  width: 12px;
  height: 12px;
}
